SECRET_KEY=bfd59305bf3e609aab22a6c0fb23ba780e10136780357878e0f76c353770b4ea
DATABASE_URL=sqlite:///campushub.db

# SMTP Email Setup (Leave empty for local terminal mock mode)
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=laurenann1871@gmail.com
SMTP_PASSWORD=vcxo xitn taum zoyk